body{
    /*padding-top: 15px;*/
}

.menu{
    margin-bottom: 15px;
}

.channel-selection:hover{
    cursor: pointer;
    text-decoration: underline;
}

.option-toggle{
    margin-bottom: 15px;
}

#finishIn, #startIn{
    width: 20%;
    display: inline;
}

.mybox{
	height: 85vh;
	margin-top: 5vh;
	background: #f5f5f5;
	border-radius: 2px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	display: table;

}

.mybox:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.site-title{
	display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: #eaeaea;
    font-size: 2.5em;
}

.progression{
    position: absolute;
    width: 92%;
    top: 90px;
}

.progress{
    height: 7px;
    background-color: #e2e2e2;
    margin-bottom: 3px;
}

.legend{
	text-align: center;
    width: 100%;
    display: inline-block;
    font-size: 10px;
    color: #c1c1c1;
    margin-top: 5px;
}

.testfade{
    display: none;
}

.programme-block{
    min-height: 350px;
    margin-bottom: 15px;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    cursor: pointer;
}

.programme-block:hover{
    margin-bottom: 15px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.programme-block img{
    width: 100%;
    overflow: hidden;
    border-radius: 3px 3px 0 0;
    background: url('../img/error_img.png');
}

.program-details{
    padding: 10px;
    padding-bottom: 0;
    position: relative;
}

.program-channel{
    margin-bottom: 5px;
}

.program-title{
    line-height: 16px;
}

.program-title em{
    font-size: 12px;
}

.program-length{
    text-align: right;
    margin-right: 5px;
    font-size: 12px;
}


#channelSelection{

}

.red{
    color: red;
}
.green{
    color: #00a945;
}

@media (min-width: 1200px){

}

@media (min-width: 992px){

}

@media (min-width: 768px){

}